.X::after {
    content: '❌';
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.O::after {
    content: '🟢';
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}